.venv
__pycache__
*.pyc
*.pyo
*.pyd
.git
.gitignore
.vscode
.DS_Store
app/static/barcodes/*.png
# Airflow logs (verrouillés sous Windows)
logs/

# Données volumineuses
data/

# Notebooks temporaires
.ipynb_checkpoints/